<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wafer Fault Detection Project</title>
<style>
    *{
        margin: 0;
        padding: 0;
    }
    .header{
        background:rgba(0, 0, 0, 0.778);
        color: white;
        /* text-align: center; */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
        }
</style>
</head>
<body>
    <div class="header">   
         <h1 >Welcome to Wafer Fault Detection Project</h1>
    </div>

</body>
</html>